In [5]:
import pandas as pd
import lib

In [2]:
df = df = pd.read_csv('../data/raw/activity.csv')

In [3]:
df.head()

        Datum                            Beskrivning  Belopp
0  10/02/2024  PERIODENS DEL AV ÅRSAVGIFT FÖR KONTOT  135,00
1  10/01/2024      HEMKOP SABIS STOCKHO 09 STOCKHOLM  151,85
2  09/30/2024       BRA MAT DANDERY         DANDERYD  145,00
3  09/30/2024      COOP ERIK DAHLBERGSGATA STOCKHOLM   25,95
4  09/30/2024      HEMKOP SABIS STOCKHO 09 STOCKHOLM  333,05

In [6]:
df = lib.format_data(df)
df.head()

       Datum                            Beskrivning  Belopp
0 2024-10-02  PERIODENS DEL AV ÅRSAVGIFT FÖR KONTOT  135.00
1 2024-10-01      HEMKOP SABIS STOCKHO 09 STOCKHOLM  151.85
2 2024-09-30       BRA MAT DANDERY         DANDERYD  145.00
3 2024-09-30      COOP ERIK DAHLBERGSGATA STOCKHOLM   25.95
4 2024-09-30      HEMKOP SABIS STOCKHO 09 STOCKHOLM  333.05